#modal {
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 60%;
    height: 100%;
    position: relative;
    overflow-y: auto;
}
    .modal-content img{
        width: 100%;
        object-fit: cover;
    }

    .modal-content video{
        width: 100%;
        object-fit: cover;
    }

.modal-article{
    padding: 50px;
    font-family: 'Open Sans - Regular', sans-serif;
}
    .modal-article h1{
        font-size: 2.5rem;
        font-weight: bold;
        padding-bottom: 30px;
        line-height: 3.5rem;
    }
    .modal-article p{
        color: gray;
        line-height: 2rem;
    }

    .modal-article-block{
        margin-top:25px;
        display:table;
        width: 100%;
    }

    .modal-article-block p{
        display: table-cell;
    }

.modal-article a {
    text-decoration: none;
}

.modal-article a:hover {
    border-bottom: 1px solid;
}

.modal-trump h1  {
    color: #e74d3d;
}

.modal-trump a {
    color: #e74d3d;
}

.modal-clinton h1 {
    color: #3598db;
}

.modal-clinton a {
    color: #3598db;
}

.modal-both h1 {
    color: #2d3f51;
}

.modal-both a {
    color: #2d3f51;
}

/* The Close Button */
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
    background-image: url("../img/delete-gray.png");
    background-size: 20px;
    cursor: pointer;
    opacity: 0.8;
}

.close:hover,
.close:focus {
    opacity: 1;
}

video{
    width: 100%;
}

/*tablet resolutie dingen*/
@media (max-width: 800px) {
    .modal-content {
        width: 90%;
    }
}
