#modal {
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    width: 60%;
    height: 100%;
    position: relative;
    overflow-y: auto;
}
    .modal-content img{
        width: 100%;
        height: 60%;
        object-fit: cover;
    }

    .modal-content video{
        width: 100%;
        height: 60%;
        object-fit: cover;
    }

.modal-article{
    padding: 50px;

    font-family: 'Open Sans - Regular', sans-serif;
}
    .modal-article h1{
        font-size: 2.5vw;
        font-weight: bold;
        padding-bottom: 30px;
        line-height: 130%;
    }
    .modal-article p{
        color: gray;
        line-height: 120%;
    }

    .modal-article-block{
        margin-top:25px;
        display:table;
        width: 100%;
    }

    .modal-article-block p{
        display: table-cell;
    }

.modal-trump h1  {
    color: #e74d3d;
}

.modal-trump a {
    color: #e74d3d;
}

.modal-clinton h1 {
    color: #3598db;
}

.modal-clinton a {
    color: #3598db;
}

.modal-both h1 {
    color: #2d3f51;
}

.modal-both a {
    color: #2d3f51;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 1;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

video{
    width: 100%;
}

/*tablet resolutie dingen*/
@media (max-width: 800px) {
    .modal-content {
        width: 90%;
    }
}
