body{
    overflow-x: hidden;
	background-color: #ecf0f1;
}

@font-face {
    font-family: 'Open Sans - Bold', sans-serif;
    src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: 'Open Sans - Regular', sans-serif;
    src: url("../fonts/OpenSans-Regular.ttf");
}

.fullscreen-div{
    height: 100vh;
}

/*Alles voor de homepage*/
#bottomText{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #2d3f51;
    z-index: 1;
}
    #bottomText p{
        font-size: 25px;
        padding-top: 10px;
        color: white;
        text-align: center;
        font-family: 'Open Sans - Bold', sans-serif;
    }

#HillaryText{
    position: absolute;
    left: 10%;
    top: 50%;
    margin-top: -70px; /* 45 van onderste tekst + 25 van font-size */
    font-size: 50px;
    color: white;
    z-index: 1;
    font-family: 'Open Sans - Bold', sans-serif;
}
#TrumpText{
    position: absolute;
    right: 10%;
    top: 50%;
    margin-top: -70px; /* 45 van onderste tekst + 25 van font-size */
    font-size: 50px;
    color: white;
    z-index: 1;
    font-family: 'Open Sans - Bold', sans-serif;
}
#versus{
    background-color: white;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top:50%;
    margin-left: -60px;
    margin-top: -105px;
    z-index: 1;
    text-align: center;
}
    #versus h1{
        font-family: 'Open Sans - Bold', sans-serif;
        font-size: 50px;
        margin-top: 35px;
    }

#left{
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #3598db;
}
#right{
    position: absolute;
    right:0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #e74d3d;
}

#TrumpHome{
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    margin-right: -250px;
    background-color: #e74d3d;
    height: 100%;
}

#ClintonHome{
    position: absolute;
    left: 0;
    top: 0;
    width: 500px;
    margin-left: -250px;
    background-color: #3598db;
    height: 100%;
}

/*Tijdlijn style*/
#topNav{
    position:fixed;
    top: -60px;
    width:100%;
    height: 45px;
    z-index: 1;
}
    #clintonNav{
        width: 50%;
        float:left;
        text-align: center;
        height: 45px;
        background: #3598db; /* Old browsers */
        background: -moz-linear-gradient(top, #3598db 0%, #3598db 30%, #ecf0f1 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #3598db 0%,#3598db 30%,#ecf0f1 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #3598db 0%,#3598db 30%,#ecf0f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3598db', endColorstr='#ecf0f1',GradientType=0 ); /* IE6-9 */
        padding-top: 10px;
        color: #ecf0f1;
        font-family: 'Open Sans - Regular', sans-serif;
    }
    #trumpNav{
        width: 50%;
        float:right;
        text-align: center;
        height: 45px;
        background: #e74d3d; /* Old browsers */
        background: -moz-linear-gradient(top, #e74d3d 0%, #e74d3d 30%, #ecf0f1 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #e74d3d 0%,#e74d3d 30%,#ecf0f1 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #e74d3d 0%,#e74d3d 30%,#ecf0f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e74d3d', endColorstr='#ecf0f1',GradientType=0 ); /* IE6-9 */
        padding-top: 10px;
        color: #ecf0f1;
        font-family: 'Open Sans - Regular', sans-serif;
    }

#Tijdlijn{
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: white;
	height: 5000px;
	width: 5px;
	margin-left: auto;
	margin-right: auto;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}
#tijdlijnBegin{
    padding-top: 60px;
    color: grey;
    font-family: "Open Sans - Regular", sans-serif;
    border-bottom: 5px solid white;
    background-color: white;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);

}
    #tijdlijnBegin p{
        padding-bottom: 20px;
    }
.circle{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20px; /* de helft van de width + 2 * border-radius */
    width: 35px;
    height: 35px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 2px solid white;
}
    .video{
        background-color: #e74d3d;
        background-image: url(../img/videoIcon.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: 8px;
    }
    .image{
        background-color: #3598db;
        background-image: url(../img/imageIcon.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: 7px;
    }
    .article{
        background-color: grey;
        background-image: url(../img/articleIcon.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: 7px;
    }
.squareright{
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 50px;
    width: 40%;
}
    .squareright img{
        width: 100%;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    }

    .squareright video{
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    }

.squareleft{
    position: absolute;
    top: 0;
    right: 50%;
    margin-right: 50px;
    width: 40%;
}
    .squareleft img{
        width: 100%;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    }

    .squareleft video{
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    }

/*belangrijk nieuws dingetje*/
.squarecenter{
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
}
    .squarecenter .datumArtikel{
        text-align: left;
        margin: 0;
        float: right;
    }
    .squarecenter img{
        width: 100%;
    }

    .datumArtikel{
        width: 100px;
        font-size: 12px;
        text-align: center;
        color: grey;
        margin: 0 auto;
        padding-top: 20px;
        font-family: 'Open Sans - Regular', sans-serif;
    }
    .kopArtikel{
        max-width: 100%;
        font-size: 16px;
        padding-top: 15px;
        padding-left: 15px;
        background-color: white;
        font-family: 'Open Sans - Regular', sans-serif;
    }
        .squareleft .kopArtikel{
            color: #3598db;
        }
            /*driehoekding*/
            .squareleft .textArtikel:after{
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 25px 0 25px 25px;
                border-color: transparent transparent transparent #ffffff;
                top: 0;
                right: 0;
                margin-right: -15px;
            }
        .squareright .kopArtikel{
            color: #e74d3d;
        }
            /*driehoekding*/
            .squareright .textArtikel:after{
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 25px 25px 25px 0;
                border-color: transparent #ffffff transparent transparent;
                top: 0;
                left: 0;
                margin-left: -15px;
            }
    .textArtikel{
        max-width: 100%;
        font-size: 12px;
        background-color: white;
        color: grey;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-top: 5px;
        line-height: 15px;
        font-family: 'Open Sans - Regular', sans-serif;
    }
    .moreInfo{
        float: right;
        margin-top: -10px;
    }
        .moreInfo a{
            text-decoration: none;
            color: black;
            font-size: 25px;
        }

/*tablet resolutie dingen*/
@media (max-width: 950px){
    #HillaryText{
        font-size: 5vw;
        margin-top: -40px;
        left: 5%;
    }
    #TrumpText{
        font-size: 5vw;
        margin-top: -40px;
        right: 5%;
    }
    #versus{
        height: 100px;
        width: 100px;
        margin-left: -50px;
        margin-top: -70px;
    }
    #versus h1{
        font-size: 30px;
    }
}

/*mobiele resolutie*/
@media (max-width: 520px){
    #left{
        width: 100%;
        height: 50%;
    }
    #right{
        top: 50%;
        width: 100%;
        height: 50%;
    }
    #TrumpHome{
        width: 100%;
        margin-right: 0;
    }

    #ClintonHome{
        width: 100%;
        margin-left:0;
    }
    #versus{
        height: 100px;
        width: 100px;
        margin-left: -50px;
        margin-top: -50px;
    }
    #versus h1{
        font-size: 40px;
    }
    #HillaryText{
        left: 50%;
        top: 50%;
        width: 250px;
        margin-top: -140px;
        margin-left: -125px;
        font-size: 40px;
    }
    #TrumpText{
        right: auto;
        left: 50%;
        top: 50%;
        width: 260px;
        margin-top: 80px;
        margin-left: -130px;
        font-size: 40px;
    }
	
}